.group {
	padding-top: 100px;
	&__container {
	}
	
	&__inner-wrapper {
	}
	
	&__text {
		margin-bottom: 4px;
	}
	
	&__header {
		margin-bottom: 159px;
	}
	
	&__list {
		display: flex;
		gap: 30px;
		padding: 0;
		flex-wrap: wrap;
		margin: 0;
		justify-content: center;
	}
	
	&__item {
		position: relative;
		background-color: #fff;
		width: 280px;
		justify-content: center;
		padding-top: 134px;
		padding-bottom: 40px;
		padding-left: 62px;
		padding-right: 61px;
		margin-bottom: 142px;
		background-color: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(34, 40, 49, 0.05);
	}
	
	&__item-img {
		margin-left: -10px;
		border-radius: 50%;
		margin-top: -300px;
		border: 7px solid #F9F9F9;
	}
	
	&__item-header {
		font-family: 'Gilroy';
		font-weight: 800;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
		color: #000000;
		margin-bottom: 4px;
	}
	
	&__item-text {
		font-family: 'Gilroy';
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #787878;
		margin-bottom: 44px;
	}
}

@media only screen and (max-width:800px) { 
	.group {
		
		&__container {
			
		}
		
		&__inner-wrapper {
			
		}
		
		&__text {
			
		}
		
		&__header {
			
		}
		
		&__list {
			gap: 15px;
		}
		
		&__l-a {
			display: none;
		}
		
		&__item {
			justify-content: center;
			width: 160px;
			padding: 74px 6px 24px 2px ;
		}
		
		&__item-img {
			width: 84px;
			height: 84px;
			margin-top: -170px;
			margin-left: 33px;
		}
		&__item-img-sotset {
			width: 131px;
			height: 34px;
		}
		
		&__item-header {
			font-size: 14px;
			line-height: 17px;
		}
		
		&__item-text {
			font-size: 12px;
			line-height: 14px;
		}
	}
	
}