.play {
    padding-top: 100px;
    &__container {
        
    }
    
    &__inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    &__wrapper-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: #000000;
    }
    &__wrapper-text-color {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 38.5px;
        color: #000000;
    }
    
    &__link {
        padding: 17px 58px 16px 59px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #222831;
        border: 1px solid black;
        display: flex;
        align-items: center;
        
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 46px;
    }
    
    &__left {
        
    }
    
    &__l-img {
        
    }
    
    &__l-header {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #222831;
        margin-top: 32px;
        margin-bottom: 13px;
        max-width: 626px;
        width: 100%;
    }
    
    &__l-text {
        margin-bottom: 47px;
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.6);
        max-width: 559px;
        width: 100%;
    }
    
    &__left-wrapper {
        display: flex;
        max-width: 300px;
        width: 100%;
        gap: 60px;
        justify-content: space-between;
    }
    
    &__l-wrapper-inner {
    }
    
    &__l-wrapper-text {
        font-family: 'Gilroy';
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 4px;
    }
    
    &__l-wrapper-header {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
    
    &__right {
        
    }
    
    &__r-list {
        display: flex;
        gap: 30px;
        margin: 0;
    }
    
    &__r-item {
        margin-bottom: 56px;    
        
    }
    
    &__r-item-img {
        margin-bottom: 22px;
    }
    
    &__r-item-text {
        max-width: 309px;
        width: 100%;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: #222831;
        
    }
}

@media only screen and (max-width:1400px) { 
    
    .play {
        
        &__container {
            
        }
        
        &__inner-wrapper {
        }
        
        &__wrapper-text {
            
        }
        
        &__wrapper-text-color {
            
        }
        
        &__link {
            
        }
        
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        &__left {
            
        }
        
        &__l-img {
            
        }
        
        &__l-header {
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
        &__l-text {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
        }
        
        &__left-wrapper {
            display: none;
        }
        
        &__l-wrapper-inner {
            
        }
        
        &__l-wrapper-text {
            
        }
        
        &__l-wrapper-header {
            
        }
        
        &__right {
            padding-top: 50px;
        }
        
        &__r-list {
            padding: 0;
            margin: 0;
        }
        
        &__r-item {
            
        }
        
        &__r-item-img {
            
        }
        
        &__r-item-text {
            
        }
        
    }
    
}